{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
{{user.location}}에 사는 {{user.university}}에 다니는 {{user.nickname}}님
안녕하세요! {% endif %}
<a href="?search=true&writer={{user.nickname}}">내가 쓴 글</a>
<h1>Blog Project</h1>
<h4><a href="{% url 'blog:new_with_django_form' %}">New Post</a></h4>
<div class="container">
  {% for blog in blogs%}
  <div>
    <h3>{{ blog.title }}</h3>
    {{ blog.id }} <br />
    {{ blog.writer }} <br />
    {{ blog.summary }}
    <a href="{% url 'blog:detail' blog.id %}">...more</a>
  </div>
  {% endfor %}
</div>
<br />
<div class="paginator">
  {% if blogs.has_previous %}
  <a href="?page=1">처음</a>
  <a href="?page={{blogs.previous_page_number}}">이전</a>
  {% endif %}
  <span>{{blogs.number}}</span>
  <span>of</span>
  <span>{{blogs.paginator.num_pages}}</span>
  {% if blogs.has_next %}
  <a href="?page={{blogs.next_page_number}}">다음</a>
  <a href="?page={{blogs.paginator.num_pages}}">마지막</a>
  {% endif %}
</div>
{% endblock %}
